@tailwind base;
@tailwind components;
@tailwind utilities;



@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


.image {
  background: url('../../public/border-removebg-preview.png');
  object-fit: cover;
  background-size: cover;
  transform: rotate(40deg);
}

@media screen and (max-width: 768px) {
  .screen {
    display: flex;
    flex-direction: column-reverse;
  }
  .phone {
    width: inherit;
  }
}

.background {
  background: #56ab2f; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #56ab2f, #a8e063); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #56ab2f, #a8e063); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  animation: rotate 10s linear infinite;
  /* z-index: -1; */
  top: 0;
  left: 0;
  transform: translate(50%, 50%);
  z-index: 0;
  opacity: .8;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes shake {
  0% { transform: translateX(0); }
  20% { transform: translateX(-10px); }
  40% { transform: translateX(10px); }
  60% { transform: translateX(-10px); }
  80% { transform: translateX(10px); }
  100% { transform: translateX(0); }
}

.shake {
  animation: shake 0.5s infinite;
}